---
layout: default
---
<div class="home-layout">
  {% if content %}
  <div class="home-intro">
    {{ content }}
  </div>
  {% endif %}
  <section class="posts">
    {% if site.posts.size > 0 %}
    <ul class="post-list">
      {% for post in site.posts %}
      <li class="post-item">
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: "%B %e, %Y" }}</p>
        {% if post.excerpt %}
        <p class="post-excerpt">{{ post.excerpt | strip_html | truncate: 160 }}</p>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No posts yet. Create your first post in the <code>_posts</code> directory.</p>
    {% endif %}
  </section>
</div>
